In [3]:
import numpy as np
import pandas as pd

In [5]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [6]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data, index= labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [13]:
ser1 = pd.Series([1,2,3,4],["USA","GERMANY","USSR", "JAPAN"])

In [14]:
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [16]:
ser2 = pd.Series([1,2,5,4], ["USA","ITALY", "GERMAN", "JAPAN"])

In [17]:
ser2

USA       1
ITALY     2
GERMAN    5
JAPAN     4
dtype: int64

In [18]:
ser1["USA"]

1

In [19]:
ser3 = pd.Series(data=labels)

In [20]:
ser3

0    a
1    b
2    c
dtype: object

In [21]:
ser1+ser2

GERMAN     NaN
GERMANY    NaN
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64